*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background: #41819E;
}

header{
    height: 5rem;
    margin-bottom: 5rem;
}

.header{
    display: flex;
}

header img{
    width: 8rem;
    margin-left: 2rem;
}

header h1{
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    margin-top: 2rem;
}

.barra_progresso{
    background: #03198570;
    height: 2rem;
    
}
.barra_progresso div{
    height: 100%;
    background: #031985;
      
}

.pergunta{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.pergunta h2{
    font-size: 1.8rem;
    color: #fff;
    font-family: "MuseoModerno", sans-serif;
}

main{
    display: flex;
}

.alternativas{
    margin-top: 2rem;
    background: #0b597e;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    width: 90rem;
    height: 46rem;
}

.teste{
    margin: 2rem;
}

main img{
    width: 30rem;
}

form{
    margin-top: 5rem;
}

.alternativas form{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.alternativas label{
    display: block;
    background: #213596;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3rem;
    color: #fff;
    cursor: pointer;
    width: 35rem;
}

.alternativas label:hover{  

    & span{
        background: #c4c4c4;
        color: #5568c9;
    }
}

.alternativas label:has(input:checked){
    outline: 3px solid #2f2f2f;
    & span {
        background: #2a83cc;
        color: #ffff;
    }
}

.alternativas label#correta{
    background:#1CC800;
    & span {
        background: #117612;
        color: #fff;
    }
}

.alternativas label#errada{
    background: #FD0000;
    & span {
        background: #8B1E1E;
        color: #fff;
    }
}

.alternativas input{
    display: none;
}

.alternativas div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.alternativas div span{
    display: block;
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 999px;
    color: #0F5071;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.alternativas button:hover{
    background: #0e618b;
    cursor: pointer;
}

button{
    margin-top: 4rem;
    width: 15rem;
    height: 4rem;
    color: #ffff;
    background: #213596;
    border-radius: 999px;
    font-size: 1.3rem;
    border: none;
    margin-bottom: 2rem;
}

button:hover{
    background: #1b64bd;
    cursor: pointer;
}

.bt{
    display: flex;
    align-items: center;
    flex-direction: column;
}
